.social {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__img {
    object-fit: contain;
    width: 25px;
    height: 25px;
  }
}